@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --header-height: 64px; /* GNB Height */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-jua), system-ui, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--header-height);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jua), sans-serif;
}

@layer components {
  .intro-icon {
    @apply transition-transform duration-300 hover:-translate-y-2;
  }
}
